@{
    ViewData["Title"] = "Pagina de tarefas";
}

<div class="text-center">
    <h1 class="display-4">Tarefas</h1>
    <p>Tarefas <a href="https://docs.microsoft.com/aspnet/core"> Testando meu!!!</a>.</p>
</div>
