@{
    ViewData["Title"] = "Pagina de teste";
}

<div class="text-center">
    <h1 class="display-4">Somente um teste</h1>
    <p>Testando a porra toda <a href="https://docs.microsoft.com/aspnet/core"> Testando meu!!!</a>.</p>
</div>
